body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  height: 40px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 10px;
}

nav a {
  color: white;
  width: 8%;
  text-decoration: none;
  font-family: Arial;
  padding: 12px;
  border-right: 0.5px solid white;
  border-left: 0.5px solid white;
  font-size: 0.9rem;
  font-weight: bold;
}

.signin {
  width: 12%;
  min-width: 80px;
  display: flex;
  justify-content: left;
}

.more {
  width: 13%;
  min-width: 10%;
  display: flex;
  justify-content: space-between;
}

nav img {
  background-color: white;
  max-width: 90px;
  max-height: 30px;
  margin: 2px;
  display: flex;
  justify-content: left;
}

form {
  margin: 2px;
  width: 19%;
}

#date {
  color: grey;
  font-weight: lighter;
  font-size: 20px;
  margin-top: 20px;
  text-align: right;
  align-content: right;
}
